<% var uniqueId = _.uniqueId('settings'); %>

<div class="page-header">
    <h2><i class="icon glyphicon <%-icon%>"></i>
        <%-strings.title%>
    </h2>
    <p class="settings-description"></p>
    <div class="row settings-control">
        <button type="submit" form="settings-form-<%-uniqueId%>" class="btn btn-danger"><i class="glyphicon glyphicon-save"></i> <%-strings.saveButton%></button>
        <button type="button" class="btn btn-warning settings-restore"><i class="glyphicon glyphicon-undo"></i> <%-strings.restoreButton%></button>
        <span class="settings-required-flag"><i class="glyphicon glyphicon-asterisk"></i></span> <%-strings.requiredFields%>
    </div>
</div>

<form class="panel-group" id="settings-form-<%-uniqueId%>">
    <div class="row"></div>
</form>
