<% var uniqueId = _.uniqueId('settings'); %>

<h2><i class="fa <%-icon%>"></i>
    <%-strings.title%>
</h2>
<p class="settings-description"></p>
<div class="settings-control">
    <button type="submit" form="settings-form-<%-uniqueId%>" class="btn btn-danger"><i class="fa fa-save"></i> <%-strings.saveButton%></button>
    <button type="button" class="btn btn-warning settings-restore"><i class="fa fa-undo"></i> <%-strings.restoreButton%></button>
    <span class="settings-required-flag"><i class="fa fa-asterisk"></i></span> <%-strings.requiredFields%>
</div>

<form id="settings-form-<%-uniqueId%>" class="row"></form>
