<div class="panel panel-default">
    <div class="panel-heading settings-widget-title" data-toggle="collapse" data-target=".collapse-<%- configItem%>">
        <h3 class="panel-title">
            <i class="<%-iconClass%>"></i> <%-title%>
        </h3>
    </div>
    <div class="panel-collapse collapse collapse-<%- configItem%> <%- isOpened ? 'in' : '' %>">
        <div class="panel-body widget-content">
            <% if (description) { %>
            <p><%-description%></p>
            <% } %>
        </div>
    </div>
</div>
