<div class="panel-heading">
    <a class="accordion-toggle settings-widget-title" data-toggle="collapse" data-target=".collapse-<%- configItem%>">
        <h3><i class="glyphicon glyphicon-<%- iconClass%>"></i> <%-title%></h3>
    </a>
</div>

<%
    var openedClass = isOpened ? 'in' : '';
%>

<% if (description) { %>
    <div class="panel-collapse collapse collapse-<%- configItem%> <%- openedClass %>">
        <div class="panel-body">
            <p><%-description%></p>
        </div>
    </div>
<% } %>

<div class="panel-collapse collapse collapse-<%- configItem%> <%- openedClass %>">
    <div class="panel-body widget-content"></div>
</div>
