<div class="page-header">
    <h2><i class="icon <%-icon%>"></i>
        <%-strings.title%>
    </h2>
    <p class="settings-description"></p>
    <p><span class="settings-required-flag"><i class="icon-asterisk"></i></span> <%-strings.requiredFields%></p>
</div>

<form>
    <hr>
    <div class="row-fluid">
        <p><%-strings.saveDescription%></p>
        <div>
            <button type="submit" class="btn btn-danger"><i class="icon-save"></i> <%-strings.saveButton%></button> <button type="button" class="btn btn-success settings-restore"><i class="icon-remove"></i> <%-strings.cancelButton%></button>
        </div>
    </div>
</form>
