<div class="control-group">
    <select name="<%-tag%>-protocol"><option value="HTTP">http</option><option value="HTTPS">https</option></select> ://
    <input name="<%-tag%>-host" type="text" value="" placeholder="<%-strings.hostPlaceholder%>"> :
    <input name="<%-tag%>-port" class="settings-port-input" type="number" min="1" max="65535" maxlength="5"  value="" placeholder="<%-strings.portPlaceholder%>">
    <span class="settings-required-flag"><i class="icon-asterisk"></i></span>
    <div class="settings-client-validation settings-info hide"></div>
</div>